$error: #da1e28;
$light_red: #ce484e;
$spring_green: #82ebaa;
$light_green: #7fe7a7;
$oxford_blue: #00224b;
$dark_stone: #3d3c3c;
$light_gray: #e9eaec;
$darker_gray: #bdbfc1;
$white: #fff;
$black: #000;
